body {
	background-color:#70A9F4;
}


/****************************
*                           *
*    Main Header Styling    *
*                           *
*****************************/

#main-header {
  background-color: #505CE1;
  border-radius: 5px;
}

#main-header h1 {
  border: 1px dashed;
  margin-bottom: -10px;

  /*Text Decoration*/
  font-family:Futura, Geneva, Arial;
  color: white;
}

#main-header p {
  border: 1px dashed;
  padding-left: 20px;

  /*Text Decoration*/
  font-family:Futura, Geneva, Arial;
  color: white;
}

/****************************
*                           *
*      Main Box Styling     *
*                           *
*****************************/
#main-box {
  background-color: #505CE1;
  border-radius: 5px;
  width: 78%;
  float:right;
  border: 1px dashed;

  /*Text Decoration*/
  font-family:Futura, Geneva, Arial;
  color: white;
}

#beer {
  float:right;
  border: 1px dashed;
}

#main-box h2 {
  padding-left: 5px;
  float: left;
  width: 50%;
  margin-bottom: -10px;
  border: 1px dashed;
}

#main-box ol {
  float: left;
  width: 40%;
  border: 1px dashed;
  display: inline-block;
}

#beer-list ul li{
  border: 1px dashed;
  display: inline;
}

.likes {
}

#stand-in-down {
  height:20px;
  width: 20px;
  background-color:green;
  display: inline-block;
  float:right;
}

#stand-in-up {
  height:20px;
  width: 20px;
  background-color:red;
  display: inline-block;
  float:right;
}

/****************************
*                           *
*     Side Panel Styling    *
*                           *
*****************************/

#side-panel {
  background-color: #505CE1;
  border-radius: 5px;
  width:20%;
  float: left;
  border: 1px dashed;
}

.side-button {
  height:35px;
  width: 90%;
  border-radius:5px;
  border: 2px solid #DBCD09;
  margin-top: 10px;
  margin-left: 3%;
  margin-bottom: 10px;

  /*Text Decoration*/
  padding-top: 10px;
  text-align: center;
  font-family:Futura, Geneva, Arial;
  color: white;
}

